<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRISPRcruncher</title>
</head>
<body>
   <h1>Welcome to CRISPRcruncher!</h1>
   <form method="post">
    <div class="form-group">
        <textarea name="sequence" placeholder="Enter Input Sequence"
                  class="form-control">{{ request.form['sequence'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Get Enzymes</button>
    </div>
    {% if hasResults %}
    %
    {% endif %}
</form>
</body>
</html>
