<!DOCTYPE HTML>
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Modified for CRISPRcruncher by Samuel Fay
-->
<html style="height:100%;">
	<head>
		<title>CRISPRcruncher</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>
		window.onload = function() {
			document.getElementById("loadingDiv").style.display = "none";
			var organism = document.getElementById("organism");
			if (organism.value != "default") {
				organism.style.color = "black";
			}
			for (var i=0; i < organism.options.length; i++) {
				organism.options[i].style.color = "black";
			}
		}
		function showLoading() {
			document.getElementById("main-form").style.display = "none";
			document.getElementById("loadingDiv").style.display = "flex";
			return true;
		}
		function changeSelectColor() {
			if (document.getElementById("organism").value == "default") {
				document.getElementById("organism").style.color= "gray";
				for (var i=0; i < document.getElementById("organism").options.length; i++) {
					document.getElementById("organism").options[i].style.color = "black";
				}
			}
			else {
				document.getElementById("organism").style.color= "black";

			}
		}
		</script>
		<!--<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-panels.min.js"></script>
		<script src="static/js/init.js"></script>-->
			<link rel="stylesheet" type="text/css" href="/static/css/skel-noscript.css" />
			<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
			<link rel="stylesheet" type="text/css" href="/static/css/style-desktop.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage" style="display:flex;flex-direction:column;height:100%">

	<!-- Header -->
	  <div id="content" style="flex:1 0 auto;">
		<div id="header">
			<div class="container">

				<!-- Logo -->
					<div id="logo">
						<img src="static/images/CRISPRcruncher logo.png" href="/" style="max-width:40%;">
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li class="inactive"><a href="/feedback">Feedback</a></li>
							<li class="inactive"><a href="/instructions">Instructions</a></li>
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->

	<!-- Banner -->

	<!-- /Banner -->

	<!-- Main -->
		<div id="page" style="padding-top: 0.5em 0em 0.5em 0em">
			{% if hasResults != true %}
			<div id="main-form" class="container">
			 <div style="padding:0% 25% 0% 25%;display:flex;justify-content:center;
			 margin-top:5em">
			 <form method="post">
			 <div class="form-group">
				 <ul class="style1" pad>
					 {% if name %}
				 	 <input type="text" name="name" placeholder="Your Name"
									 class="form-control mainFormInput" value={{name}}>
					 {% else %}
					 <input type="text" name="name" placeholder="Your Name"
	 									 class="form-control mainFormInput">
					 {% endif %}
					 {% if affiliation %}
				   <input type="text" name="affiliation" placeholder="Affiliation"
										class="form-control mainFormInput" value={{affiliation}}>
					 {% else %}
					  <input type="text" name="affiliation" placeholder="Affiliation"
 										class="form-control mainFormInput">
					  {% endif %}
				</ul>
				<ul class="style1">
				{% if email %}
				<input type="text" name="email" placeholder="Email (optional)"
									class="form-control mainFormInput" value={{email}}>
				{% else %}
				<input type="text" name="email" placeholder="Email (optional)"
									class="form-control mainFormInput">
				{% endif %}
				{% if organism %}
				<select type="text" style="color:gray" id="organism" name="organism" placeholder="Organism"
									class="form-control mainFormInputSelect" onchange="changeSelectColor()">
				{% if organism == "default" %}
				<option selected hidden value="default">Organism (choose one)</option>
				{% endif %}
				{% for org in organismsList %}
				{% if org == organism %}
				<option value="{{org}}" selected>{{org}}</option>
				{% else %}
				<option value="{{org}}">{{org}}</option>
				{% endif %}
				{% endfor %}
				{% else %}
				<select type="text" style="color:gray" name="organism" id="organism" placeholder="Organism"
									class="form-control mainFormInputSelect" onchange="changeSelectColor()">
				<option selected hidden value="default">Organism (choose one)</option>
				{% for org in organismsList %}
				<option value="{{org}}">{{org}}</option>
				{% endfor %}
				{% endif %}
				</ul>
					 {% if sequence %}
					 <input name="sequence" placeholder="Enter Input Sequence"
										 class="form-control mainFormInput" style="width:99%" value={{sequence}}>
					 {% else %}
					 <input name="sequence" placeholder="Enter Input Sequence"
										 class="form-control mainFormInput" style="width:99%">
					 {% endif %}
					 {% if minLength %}
					 <input name="minLength" placeholder="Minimum Recognition Length"
										 class="form-control mainFormInput" style="width:99%" value={{minLength}}>
					 {% else %}
					 <input name="minLength" placeholder="Minimum Recognition Length"
										 class="form-control mainFormInput" style="width:99%">
					 {% endif %}
					{% if hasErrors %}
					<p style="color:red">{{errorMessage}}</p>
					{% endif %}
				</div>
				<div id="submitButtonDiv" style="display:flex;justify-content:center">
				 <button id="formSubmitButton" type="submit" class="button" style="font-size:1.3em;"
				 onclick="return showLoading();">Get Enzymes</button>
			 </div>
		 </form>
		 	</div>
		</div>
		<div id="loadingDiv" style="display:none;justify-content:center;flex-direction:column;align-items:center;
		padding-top:6%">
			<div class="loadingio-spinner-disk-qrhes6hy5bg"><div class="ldio-ye9xf5zbmp">
<div><div></div><div></div></div>
</div></div>
			<p><b style="font-size: 1.5em">This could take a few minutes.</b></p>
		</div>
			{% endif %}
			 {% if hasResults %}
			 <div id="tableTitle" style="display:flex;align-content:row;margin-left:10%;margin-bottom:0.5em">
			 <button type="button" class="button" style="font-size:1em" onclick="window.location.href='/';"
			 >&#x25c0; Back</button>
			 <h1 class="results" style="align-self:center;margin-top:0.5em;margin-left:30%;">
				 RESULTS ({{enzymes|length}} enzymes)</h1>
		 	</div>
			 <table class="resultsTable">
				 <tr>
					 <th>Enzyme</th>
					 <th>Enzyme Sequence</th>
					 <th>Modified Input Sequence</th>
					 <th>Strand</th>
				 </tr>
			 {% for enzyme in enzymes %}
				 <tr>
					 <td>{{enzyme[6]}}</td>
					 <td>{{enzyme[1]}}</td>
					 <td>{{enzyme[4]}}</td>
					 {% if enzyme[7] %}
					 <td>Both</td>
					 {% elif enzyme[5] %}
					 <td>Bottom</td>
					 {% else %}
					 <td>Top</td>
					 {% endif %}
				 </tr>
			 {% endfor %}
			</table>
			 {% endif %}
	</div>
</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="footer" style="flex-shrink: 0;padding:0em 0em 0em 0em">
		<div id="copyright" class="container">
			Design based off: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		</div>
	</div>


	</body>
</html>
